
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  z-index: 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  z-index: 0;
  filter: blur(45px);
  transform: translateZ(0);
}
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

.footer {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #e5ff00;
}
